<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>{{ botname }} - Dashboard</title>
  </head>

  <body>
    <h1>Configuring {{ botname }} for {{ guildname }}</h1>
    <button onclick="save()">Save</button>

    <div class="editor"><div id="container"></div></div>
    <script src="/static/monaco-editor/min/vs/loader.js"></script>

    <script>
      require.config({ paths: { vs: "/static/monaco-editor/min/vs" } });

      async function getContent() {
        const response = await fetch("/config/bot/{{ botid }}/guild/{{ guildid }}/data");
        return response.json();
      }

      getContent().then((data) => {
        require(["vs/editor/editor.main"], function () {
          var editor = monaco.editor.create(
            document.getElementById("container"),
            {
              value: data.data,
              language: "yaml",
              theme: "vs-dark",
              tabSize: 2,
            }
          );
          window.editor = editor;
        });
      });

      function betterAlert(message) {
        const el = document.createElement("div");
        el.classList.add("modal");
        el.innerText = message;
        document.body.appendChild(el);
        setTimeout(() => el.remove(), 5000);
      }

      function save() {
        fetch("/config/bot/{{ botid }}/guild/{{ guildid }}", {
          method: "POST",
          body: JSON.stringify({
            code: window.editor.getValue(),
          }),
        }).then((res) => {
          if (res.status == 204) {
            betterAlert("Successfully saved your config!");
          } else if (res.status == 429) {
            alert("Woah there! Slow down, you're saving too quickly!");
          } else {
            betterAlert("Something went wrong while saving your config.");
          }
        });
      }

      window.addEventListener("keydown", function (event) {
        if (event.ctrlKey || event.metaKey) {
          if (String.fromCharCode(event.which).toLowerCase() == "s") {
            event.preventDefault();
            save();
          }
        }
      });
    </script>
  </body>
</html>

<style>
  body {
    background: #3e3e3e;
    color: #87ceeb;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }

  button {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 18px;
  }

  .editor {
    background: #1e1e1e;
    padding: 16px;
    border-radius: 16px;
  }

  #container {
    width: fit-content;
    height: 45rem;
  }
</style>
